.modal-dialog{
  position:fixed;
  z-index:1;
  top: 0
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;
  border: 5px solid black;
}
.modal-header{
  background-color: gray;
}
.modal-title{
  font-size:30px;
  color: white;
  margin: 5px;
}
.modal-content{
  margin: 10px;
  width: 80%;
  max-width: 600px;
}
.modal-buttons{
  align-items: flex-end;
}
