/*body {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  margin-top: -250px;
  margin-left: -250px;
}*/

body{
  font-family: 'Seravek';
  font-size: 20px;
}

#wrapper{
  height:100vh;
  overflow:hidden;
}

#div1{
  background-color: red;
  position: absolute;
  width:20%;
  height:100%;
}

#div2{
  background-color: lightblue;
  height:100%;
}

#div3{
  background-color: red;
  height:100%;
  width: 20%;
  float:left;
}
#div4{
  background-color: lightblue;
  height:100%;
  width:60%;
  float:left;
}
#div5{
  background-color: red;
  height:100%;
}

#div6{
  background-color: lightblue;
  height:33.3%;
  width:33.3%;
  float:left;
}
#div7{
  background-color: red;
  height:33.3%;
  width:33.3%;
  float:left;
}
#div8{
  background-color: lightblue;
  height:33.3%;
  width:33.3%;
  float:left;
}
#div9{
  background-color: red;
  height:33.3%;
  width:33.3%;
  float:left;
}
#div10{
  background-color: lightblue;
  height:33.3%;
  width:33.3%;
  float:left;
}
#div11{
  background-color: red;
  height:33.3%;
  width:33.3%;
  float:left;
}
#div12{
  background-color: lightblue;
  height:33.3%;
  width:33.3%;
  float:left;
}
#div13{
  background-color: red;
  height:33.3%;
  width:33.3%;
  float:left;
}
#div14{
  background-color: lightblue;
  height:33.3%;
  width:33.3%;
  float:left;
}
#div15{
  background-color: lightgreen;
  height:10%;
  width:100%;
  position: absolute;
  float:top;
}
#div16{
  background-color: red;
  height:80%;
  width:20%;
  float: left;
}
#div17{
  background-color: lightblue;
  height:80%;
  width: 60%;
  float: left;

}
#div18{
  background-color: red;
  height:80%;
}

#div19{
  background-color: lightgreen;
  height:10%;
  width:100%;
  float:bottom;
}
